.idea
.gradle/
.settings
.project
.classpath
ant_output
**/build
**/node_modules
*.iws
*.ipr
*.iml
.toDelete
**/generatedsources
**/out
.shelf
*.orig
/target/
crawler/node_modules
crawler/logs
crawler/output
crawler/work
crawler/.nyc_output
*.tests.logfile.log
*.tests-common.logfile.log
package-lock.json